RewriteEngine On
RewriteBase /shop0112/
#this is comment


RewriteRule ^accept-order/([a-zA-Z0-9]*)/([0-9]+)$ accept-order.php?token=$1&time=$2 

RewriteRule ^([a-zA-Z0-9-]*)-([0-9]+).html$ detail-food.php?alias=$1&id=$2



RewriteRule ^trang-chu.html$ index.php
RewriteRule ^lien-he.html$ contact.php
RewriteRule ^mon-an-theo-loai.html$ food-by-type.php
RewriteRule ^tim-kiem.html$ search.php

RewriteRule ^error.html$ 404.php

ErrorDocument 404 /shop0112/error.html
ErrorDocument 500 /shop0112/error.html

